/* aboutme.css */

body {
    width: 100%; height: 100%;
}

aside {
    position: fixed;
    width: 50%; height: 65vh;
    background-image: url("/static/app_home/image/portrait1.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main {
    margin-left: 50%;
    width: 50%; height: 100%;
    padding-left: 1rem; padding-right: 1rem;
    font-style: italic;
}

main section {
    border-top: 1px solid orangered;
    margin-bottom: 2rem;
}
    section details summary {
        cursor: pointer;
        color: white;
        margin-top: 0.5rem;
    }
    section details summary:hover {
        font-weight: bold;
    }
    section details[open] .section-content {
        display: block;
    }
    .section-content {
        display: none;
        width: 100%;
    }
        .section-content dt {
            margin-top: 1rem;
        }
        .section-content dd {
            
        }
            dd a {
                color: white;
            }
            dd a:hover{
                font-weight: bold;
            }

    .intro {
        width: 100%; height: 20%;
    }
        .container-roll {
            display: inline-block;
            height: 1.5rem;
            overflow: hidden;
        }
            .container-roll ul {
                color: white;
                vertical-align: top;
                animation-name: rolling;
                animation-duration: 4s;
                animation-iteration-count: infinite;
            }
            @keyframes rolling{
                0%{ transform: translateY(0); }
                25%{ transform: translateY(-20%); }
                50%{ transform: translateY(-40%); }
                75%{ transform: translateY(-60%); }
                100%{ transform: translateY(-80%); }
            }
        .container-link {}
            .sns {
                display: inline-block;
                width: 3rem; height: 3rem;
            }
                .sns img {
                    width: 100%; height: 100%;
                }
            #youtube {

            }
                #youtube img {
                    src: url("/static/app_home/image/youtube.ico");
                }
            #github {

            }
                #github img {
                    src: url("/static/app_home/image/github.png");
                }

    .project {
        width: 100%; height: 20%;
    }

    .history {
        width: 100%; height: 20%;

    }
        .history li {
            margin-top: 1rem;
        }
        .evidence {
            width: 100%;
        }
            .evidence[open] .evidence-detail {
                display: block;
            }
            .evidence-detail {
                display: none;
                width: 100%;
            }


@media(max-width:768px){
    aside{
        position: relative;
        width: 100%; height: 30vh;
        margin-bottom: 1rem;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
}