{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>About Me</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/thema.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'app_home/css/aboutme.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <aside>

    </aside>

    <main>

        <section class="intro">
            <h3 style="display: none;">Introduce</h3>
            <div class="container-job">
                Varzeny is a 
                <div class="container-roll">
                    <ul>
                        <li>Developer</li>
                        <li>Robot Engineer</li>
                        <li>Backend Engineer</li>
                        <li>Game Maker</li>
                        <li>Developer</li>
                    </ul>
                </div>
            </div>

            <div class="container-p">
                <h2>Hoa Choi</h2>
                <p>다양한 것들을 엮어서 하나의 시스템으로 만드는 것을 좋아합니다. 로봇, 네트워크, AI 를 융합하여 더 나은 미래를 만드는데 기여하겠습니다.</p>
            </div>

            <div class="container-link">
                
            </div>
        </section>

        <section class="project">
            <h3>Project</h3>
            <dl>
                <dt><h4>prj1</h4></dt>
                <dd>
                    asdfasdfsdf
                </dd>
    
                <dt><h4>prj2</h4></dt>
                <dd>
                    sdfasdf
                </dd>
    
                <dt><h4>prj3</h4></dt>
                <dd>
                    sfasfs
                </dd>
            </dl>
        </section>

        <section class="history">
            <h3>History</h3>
            <ul class="ul-history">
                <li>
                    2024.08<h4>학점은행제 컴퓨터공학 학사</h4>
                    <div class="evidence" id=""></div>
                    <p></p>
                </li>
                <li>
                    2024.06<h4>정보처리 산업기사 취득</h4>
                    <div class="evidence" id="_20240618"></div>
                    <p></p>
                </li>
                <li>
                    2024.02<h4>한국폴리텍 대학 로봇캠퍼스 졸업</h4>
                    <div class="evidence" id="_20240207"></div>
                    <p></p>
                </li>
                <li>
                    2024.02<h4>경북도지사상 수상</h4>
                    <div class="evidence" id="_20240201"></div>
                    <p></p>
                </li>
                <li>
                    2023.12<h4>프로보노 ICT멘토링 동상 수상</h4>
                    <div class="evidence" id="_20231207"></div>
                    <p></p>
                </li>
                <li>
                    2022.12<h4>Universal Robots Advance Training</h4>
                    <div class="evidence" id="_20221214"></div>
                    <p></p>
                </li>
                <li>
                    2022.10<h4>R-BIZ Challenge 참가(최종 7팀)</h4>
                    <div class="evidence" id="_20221027">
                        <iframe width=100% height=100% src="https://www.youtube.com/embed/tphH9MOL5aw?si=H67OREIqvFb8-hrP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <p></p>
                </li>
                <li>
                    2022.09<h4>IT융합전자회로설계 경진대회 산학협력상 수상</h4>
                    <div class="evidence" id="_20220929"></div>
                    <p></p>
                </li>
                <li>
                    2022.04<h4>ITQ 엑셀 1급</h4>
                    <p></p>
                </li>
                <li>
                    2022.04<h4>Universal Robots Core Training</h4>
                    <div class="evidence" id="_20220624"></div>
                    <p></p>
                </li>
            </ul>
        </section>


    </main>


    {% include 'footer.html' %}
</body>
</html>
