{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>About Me</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/thema.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'app_home/css/aboutme.css' %}">
    <script src="{% static 'app_home/js/aboutme.js' %}"></script>
</head>
<body>
    {% include 'header.html' %}
    <h2 style="display: none;">About Me</h2>

    <aside></aside>

    <main>
        <section class="intro">
            <h3 style="display: none;">Introduce</h3>
            <div class="container-job">
                Varzeny is a 
                <div class="container-roll">
                    <ul>
                        <li>Developer</li>
                        <li>Robot Engineer</li>
                        <li>Backend Engineer</li>
                        <li>Game Maker</li>
                        <li>Developer</li>
                    </ul>
                </div>
            </div>

            <div class="container-p">
                <h2>Hoa Choi</h2>
                <p>다양한 것들을 엮어서 하나의 시스템으로 만드는 것을 좋아합니다. 로봇, 네트워크, AI 를 융합하여 더 나은 미래를 만드는데 기여하겠습니다.</p>
            </div>

            <div class="container-link">
                <a id="youtube" class="sns" href="https://www.youtube.com/@hoachoi6173">
                    <img>
                </a>

                <a id="github" class="sns" href="https://github.com/varzeny?tab=repositories">
                    <img>
                </a>
            </div>
        </section>

        <section class="project">
            <h3>Project</h3>
            <p>그동안 진행한 프로젝트들 입니다.</p>
            <details>
                <summary>클릭하여 보기</summary>
                <div class="section-content" id="prj-content">
                    <dl>
                        
                        <dt><h4>Personal Portalsite</h4></dt>
                        <dd>
                            <p>개인 포탈 사이트</p>
                            <a href="https://github.com/varzeny/Personal_Portalsite.git">자세히 보기</a>
                        </dd>

                        <dt><h4>웹하드</h4></dt>
                        <dd>
                            <p>개인 웹하드 제작</p>
                            <a href="https://github.com/varzeny/Webhard_Server_Py">자세히 보기</a>
                        </dd>

                        <dt><h4>Maze Survival</h4></dt>
                        <dd>
                            <p>웹소켓을 이용한 실시간 멀티플레이 웹게임</p>
                            <a href="https://github.com/varzeny/maze_survival">자세히 보기</a>
                        </dd>
            
                        <dt><h4>P.I.A</h4></dt>
                        <dd>
                            <p>자동 정보수집 웹서비스</p>
                            <a href="https://github.com/varzeny/pia">자세히 보기</a>
                        </dd>
            
                        <dt><h4>My Blog</h4></dt>
                        <dd>
                            <p>지금 보시는 이 블로그도 포트폴리오용 프로젝트입니다.</p>
                            <a href="https://github.com/varzeny/my_blog.git">자세히 보기</a>
                        </dd>

                        <dt><h4>골든 버거</h4></dt>
                        <dd>
                            <p>완제품 로봇 리버스 엔지니어링</p>
                            <a href="https://github.com/varzeny/ws_hoabot_1">자세히 보기</a>
                        </dd>

                        <dt><h4>스마트 요양원</h4></dt>
                        <dd>
                            <p>요양원을 위한 돌봄로봇 웹 관제시스템</p>
                            <a href="https://github.com/varzeny/heavens_angelbot_v2">자세히 보기</a>
                        </dd>

                        <dt><h4>원격의료 시스템</h4></dt>
                        <dd>
                            <p>협동로봇과 VR기술로 원격의료 시스템 구현</p>
                            <a href="https://github.com/varzeny/VR_Telemedicine.git">자세히 보기</a>
                        </dd>

                    </dl>
                </div>
            </details>


        </section>

        <section class="history">
            <h3>History</h3>
            <p>최근 수 년간의 주요 이력입니다.</p>
            <details>
                <summary>클릭하여 보기</summary>
                <div class="section-content" id="history-content">
                    <ul class="ul-history">
                        <li>
                            2024.08<h4>학점은행제 컴퓨터공학 학사</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/240823.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2024.06<h4>정보처리 산업기사 취득</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/240618.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2024.02<h4>한국폴리텍 대학 로봇캠퍼스 졸업</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/240207.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2024.02<h4>경북도지사상 수상</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/240201.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2023.12<h4>프로보노 ICT멘토링 동상 수상</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/231207.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2022.12<h4>Universal Robots Advance Training</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/221214.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2022.10<h4>R-BIZ Challenge 참가(최종 7팀)</h4>
                            <img class="evidence">
                                <iframe width=100% height=100% src="https://www.youtube.com/embed/tphH9MOL5aw?si=H67OREIqvFb8-hrP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </img>
                        </li>
                        <li>
                            2022.09<h4>IT융합전자회로설계 경진대회 산학협력상 수상</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/220929.jpg' %}"></img>
                            </details>
                        </li>
                        <li>
                            2022.06<h4>ITQ 엑셀 1급</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/220630.jpg' %}"></img>
                            </details>

                        </li>
                        <li>
                            2022.06<h4>Universal Robots Core Training</h4>
                            <details class="evidence">
                                <summary>클릭하여 보기</summary>
                                <img class="evidence-detail" src="{% static 'image/evidence/220624.jpg' %}"></img>
                            </details>
                        </li>

                    </ul>
                </div>
            </details>
        </section>


    </main>


    {% include 'footer.html' %}
</body>
</html>
