{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/thema.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'app_home/css/home.css' %}">
    <script src="{% static 'app_home/js/home.js' %}"></script>
</head>
<body>
    {% include 'header.html' %}
    <h2 style="display: none;">Home</h2>
    
    <main>
        <section class="service">
            <h3>Service</h3>
        </section>

        <section class="rank">
            <h3>Rank</h3>
            <div class="container-leftright">
                <div class="left">
                    <div class="container-post">
                        {% if top_posts|length > 0 and top_posts.0 and top_posts.0.slug %}
                        <a class="a-post" href="{% url 'get_post_by_slug' top_posts.0.slug %}">
                            <article>
                                <div class="thumbnail">
                                    <img src="{{ top_posts.0.thumbnail.url }}" alt="{{ top_posts.0.title }}">
                                </div>
                                <div class="exc">
                                    <h5>{{ top_posts.0.title }}</h5>
                                    <p>{{ top_posts.0.excerpt }}</p>
                                </div>
                                <h4>Top 1</h4>
                            </article>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="container-post">
                            {% if top_posts|length > 1 and top_posts.1 and top_posts.1.slug %}
                            <a class="a-post" href="{% url 'get_post_by_slug' top_posts.1.slug %}">
                                <article>
                                    <div class="thumbnail">
                                        <img src="{{ top_posts.1.thumbnail.url }}" alt="{{ top_posts.1.title }}">
                                    </div>
                                    <div class="exc">
                                        <h5>{{ top_posts.1.title }}</h5>
                                        <p>{{ top_posts.1.excerpt }}</p>
                                    </div>
                                    <h4>Top 2</h4>
                                </article>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bot">
                        <div class="container-post">
                            {% if top_posts|length > 2 and top_posts.2 and top_posts.2.slug %}
                            <a class="a-post" href="{% url 'get_post_by_slug' top_posts.2.slug %}">
                                <article>
                                    <div class="thumbnail">
                                        <img src="{{ top_posts.2.thumbnail.url }}" alt="{{ top_posts.2.title }}">
                                    </div>
                                    <div class="exc">
                                        <h5>{{ top_posts.2.title }}</h5>
                                        <p>{{ top_posts.2.excerpt }}</p>
                                    </div>
                                    <h4>Top 3</h4>
                                </article>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'footer.html' %}
</body>
</html>
