<footer>
    <style>
        footer {
            width: 100%; height: 5%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1000;
            font-size: small;
        }

        .container-1 {
            width: 100%; height: 100%;
            display: flex; flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>

    <div class="container-1">
        <p>
            소속 : 없음, 위치 : 자택, 활동 : 구직 중...
        </p>
    </div>

    <script>

    </script>
</footer>