<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Varzeny's Blog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='static/css/landing.css'>

    <script src='static/js/landing.js'></script>
</head>
<body>

    {% include "header_common.html" %}

    <main>
        <!-- 서비스 -->
        <section class="service">
            <h2>Service / Portfolio</h2>
            <article>

            </article>

            <article>

            </article>
        </section>
        
        <!-- 포스팅 -->
        <section class="post">
            <h2>Top 3 Posts</h2>
            <div class="container-top3">
                <div class="container-left">
                    <div class="container-1st">

                    </div>
                </div>
                <div class="container-right">
                    <div class="container-2nd">

                    </div>
                    <div class="container-3rd">

                    </div>
                </div>

            </div>

        </section>
    </main>

    {% include "footer_common.html" %}

</body>
</html>