{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Posts</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/thema.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/post.css' %}">
    <script src="{% static 'blog/js/post.js' %}"></script>
</head>
<body>
    {% include 'blog/header.html' %}

    <main>
        <aside>
            <!-- 상단: 포스트 검색 -->
            <section>
                <h3>Search</h3>
                <form action="{% url 'post_search' %}" method="get">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </section>
            <!-- 중단: 카테고리 목록 -->
            <section>
                <h3>Categories</h3>
                <ul>
                    {% for category in categories %}
                        <li><a href="{% url 'post_list_by_category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <!-- 하단: 태그 목록 -->
            <section>
                <h3>Tags</h3>
                <ul>
                    {% for tag in tags %}
                        <li><a href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </aside>


        <section>
            <h3>Posts</h3>
            {% for post in page_obj %}
                <article class="article-post">
                    <div class="left">
                        <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="right">
                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </article>
            {% endfor %}
            
            <!-- 페이지네이션 -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </section>
    </main>
</body>
</html>