<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/static/css/reset.css'>
    <!-- <link rel='stylesheet' type='text/css' href='static/css/login.css'> -->
    <script src='/static/js/login.js'></script>
</head>
<body>
    <main>
        <section class="login-form">
            <div class="">
                <label>name</label><input type="input-text" id="input-name"><br>
                <label>password</label><input type="input-password" id="input-password"><br>
            </div>
            <div>
                <button class="" id="btn-login">Login</button>
            </div>

        </section>
    </main>
</body>
</html>